@model IEnumerable<Product>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>name</th>
            <th>descrip</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Product p in Model)
        {
            <tr>
                <td>@p.ProductID</td>
                <td>@p.Name</td>
                <td>@p.Description</td>
                <td>@p.Price.ToString()</td>
            </tr>
        }
    </tbody>

</table>