@model Product
@{
    ViewBag.Title = "Crap Bag";
}
<div>
    @{int count = ViewBag.Count;}
    Product name @Model.Name with @count in stock.
    @if (count < 5)
    {
        @:That is not enough.
    }
</div>


