<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <style> 
        #mainDiv{
            border:1px solid red;
            font-size:20px;
            text-align:center;
        }
    </style>
</head>
<body>
    <div id="mainDiv">
        @RenderBody()
    </div>
</body>
</html>
